$body-color: rgba(17, 207, 82, 0.9);
$font-color: white;
$font-family: cursive;
$padding: 2% 2%;
$margin: 20px 0px;
$border: 3px solid #03fcf8;
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin inputbtn {
	height: 30px;
	border-radius: 10px;
	margin: 10px 10px;
	padding: 0 2%;
}
body {
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, #050a0d, lightslategray);
	font-family: $font-family;
	list-style: none;
	@include flex;
}

.app {
	margin: 5% auto;
	width: 500px;
	background-color: darkslategrey;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0.35) 0px 5px 20px;
}
.header {
	text-align: center;
	padding: $padding;
	margin-top: 10px;
	color: floralwhite;
	font-weight: bold;
}

.todolist {
	padding: $padding;
	form {
		input {
			width: 90%;
			@include inputbtn;
			padding: 1px;
			border: 0;
			box-shadow: rgba(0, 0, 0.35) 0px 5px 20px;
			padding-left: 10px;
			margin-left: 18px;
		}
		input[type="text"]:focus {
			box-shadow: 0 0 3px green !important;
		}
		.addBtn {
			margin-left: -53px;
		}
	}
	div {
		margin: 15px auto;
		padding-left: 3px;
	}
}
.tasks {
	background-color: #fd843ced;
	width: 90%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0.35) 0px 5px 20px;
	padding-right: 1%;
	@include flex;
	div {
		width: 70%;
		margin: 5px auto;
		padding: 0;
	}
	.btn {
		width: 20%;
		display: flex;
		justify-content: space-around;
	}
}
.tasks:hover {
	background-color: lightgoldenrodyellow;
}
.btns:hover {
	cursor: pointer;
}
@media (max-width: 500px) {
	.app {
		width: 350px;
	}
	.todolist form input {
		margin-left: 12px;
	}
	.todolist form .addBtn {
		margin-left: -44px;
	}
}
